.butterBar{
	position:fixed;
	text-align:center;
	bottom: 45%;
	z-index: 9999;
}
.butterBar--center{
	width: 100%;
	min-height: 30px;
}
.butterBar-message{
	background: #fff;
	color: rgba(0,0,0,0.8); 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	display:inline-block;
	font-size:16px;
	margin-bottom:0;
	padding: 15px 25px;
}
